@import 'src/styles/mixins';
@import 'src/styles/variables';

.custom-button .MuiButton-label {
  @include font(16px, 600, #fff, 23px);
  text-transform: none;
}

.custom-button .MuiButton-root {
  border-radius: 32px;
  height: 52px;
  padding: 16px 0;
}

.custom-button .dark-blue {
  background-color: $dark-blue;

  &:hover {
    background-color: $dark-blue;
    opacity: 85%;
  }
}

.custom-button .secondary-light {
  background-color: $secondary-light;

  &:hover {
    background-color: $secondary-light;
    opacity: 85%;
  }
}

.custom-button .dark-orange {
  background-color: $dark-orange;

  &:hover {
    background-color: $dark-orange;
    opacity: 85%;
  }
}

.custom-button .secondary-light .MuiButton-label {
  color: #000;
}

.custom-button .Mui-disabled {
  background: $gray-disabled;
}
