@import 'src/styles/mixins';
@import 'src/styles/variables';

.custom-text-field .MuiInput-underline::after,
.custom-text-field .MuiInput-underline::before,
.custom-text-field .MuiInput-underline.Mui-error::after,
.custom-text-field .MuiInput-underline:hover:not(.Mui-disabled)::before {
  border-bottom: 0;
}

.custom-text-field .MuiTextField-root {
  width: 100%;
}

.custom-text-field .MuiTextField-root input {
  @include font(18px, 400, $text-gray, 23px);
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 14px 55px 14px 16px;
  width: 100%;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    box-shadow: 0 0 0 100px #fff inset;
  }
}

.MuiAutocomplete-inputRoot[class*='MuiInput-root'] .MuiAutocomplete-input:first-child {
  padding: 14px 55px 14px 16px !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
  padding-right: 0 !important;
}

.MuiAutocomplete-endAdornment {
  right: 7px;
}

.error-container {
  height: 14px;
  position: relative;
}

.error-text {
  @include font(14px, 400, $text-danger, 14px);
  position: absolute;
  top: 5px;
}

.location-icon {
  margin-right: 10px;
}

.option-text {
  @include font(16px, 800, $text-primary, 20px);
}

.option-secondary-text {
  @include font(14px, 400, $text-secondary, 16px);
}
